 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
       body {
    font-family: 'Mulish';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: fadein ease-in 3s;
    background-image: url("https://i.pinimg.com/originals/4b/7d/0a/4b7d0ad9deeeb8fad8f43b12425f6cb9.png");
    background-size: cover;
    background-position: center;
}

.cont {
   
    width: 90%; 
    max-width: 300px;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
    transition: transform 0.5s ease;
}
.cont:hover{
    transform: scale(1.2); 
}


@media only screen and (max-width: 500px) {
    body {
        background-image: url("https://i.pinimg.com/736x/11/01/05/110105aead697e6107f0960bfce1b3e9.jpg");
    }
    .cont {
        width: 70%; 
    }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
    body {
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJkdY8Z288OooaWWJ3rS08S-oREV-07I3MOrWKkANzIwU5bVsuFKfcP3WCEF8szR8daDQ&usqp=CAU");
    }
    .cont {
        width: 90%;
    }
}

@media only screen and (min-width: 769px) {
    body {
        background-image: url("https://i.pinimg.com/originals/4b/7d/0a/4b7d0ad9deeeb8fad8f43b12425f6cb9.png");
    }
    .cont {
        width: 400px; 
    }
}


h2 {
    text-align: center;
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; 
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgba(40, 18, 10, 0.5);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: solid;
    border-radius: 20px;
    transition: transform 0.3s ease;
}


button:hover {
    background-color: rgba(61, 40, 16, 0.5);
    color: rgba(251, 233, 221, 0.7);
    transform: scale(1.1);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    margin-bottom: 100px;
    text-shadow: 10px;
    padding: 30px;
}

a {
    color: rgb(73, 37, 6);
}

a:hover {
    color: rgb(71, 28, 2);
}

.Signup {
    text-align: center;
    margin-top: 10px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
